.button {
  background-color: #333;
  color: snow;
  border: 2px solid #333;
  padding: 0.5em 2em;
  font-size: 1.3em;
  min-width: 200px;
  text-transform: uppercase;
  cursor: pointer;
}

.button.outline {
  background-color: transparent;
  color: #333;
}

.button.medium {
  padding: 0.3em 1.5em;
  font-size: 1.1em;
  min-width: 150px;
}
