@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
}

.App {
  font-family: 'Raleway', sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

/* Variables */
:root {
  --primary: #333;
  --secondary: snow;
}
/* common */
.d-flex {
  display: flex;
  gap: 1em;
}
.space-between {
  justify-content: space-between;
}

/* Header */
.header {
  background-color: var(--primary);
  color: var(--secondary);
}
.nav-link-item {
  padding: 0.4em 1em;
  display: inline-block;
}
.logo {
  font-size: 1.5em;
}

/* Shop page */

/* --Categories */

.categories-aside {
  min-width: 150px;
}

.categories ul {
  margin-top: 2em;
  list-style: none;
  padding-left: 0;
}
.categories .category-item {
  padding: 0.3em 0;
  border-bottom: 1px solid var(--primary);
}
.categories .category-item:first-child {
  border-top: 1px solid var(--primary);
}

.categories > ul > li:hover {
  background-color: var(--secondary);
}
.social__link {
  padding-right: 0.5em;
}
img {
  max-width: 100%;
}

/* Shop Item */

.shop-item {
  text-align: center;
}

.shop-item .item-title {
  font-size: 1em;
  font-weight: normal;
  margin-bottom: 0.2em;
}
