@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
}

.App {
  font-family: 'Raleway', sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

.container {
  padding-left: 1em;
  padding-right: 1em;
  max-width: 1000px;
  margin: 0 auto;
}

/* Variables */
:root {
  --primary: #333;
  --secondary: snow;
}
/* common */
.d-upto-800 {
  display: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

.hr {
  height: 1px;
  background-color: gray;
  margin: 1.5em 0;
}
.d-block {
  display: block;
}
input,
textarea {
  background-color: #eaeaea;
  padding: 0.5em 0.2em;
  border: 1px solid #eaeaea;
}
input:focus-visible,
textarea:focus-visible {
  outline: none;
  border: 1px solid var(--primary);
}
.w-50 {
  width: 50%;
}

/* spacing classes */
.mb-1 {
  margin-bottom: 0.5em;
}
.mb-2 {
  margin-bottom: 1em;
}

.flex-wrap {
  flex-wrap: wrap;
}
.d-flex {
  display: flex;
  gap: 1em;
}
.space-between {
  justify-content: space-between;
}

/* Header */
.header {
  background-color: var(--primary);
  color: var(--secondary);
}
.nav-link-item {
  padding: 0.4em 1em;
  display: inline-block;
}
.logo {
  font-size: 1.5em;
}

/* Shop page */

/* Search cart */

.shop-search input {
  background-color: transparent;
  border-color: transparent;
  margin-left: 1em;
  min-width: 250px;
}
.shop-search input:focus-visible {
  border: 1px solid var(--primary);
}

/* --Categories */

.categories-aside {
  min-width: 150px;
}

.categories ul {
  margin-top: 2em;
  list-style: none;
  padding-left: 0;
}
.categories .category-item {
  padding: 0.3em 0;
  border-bottom: 1px solid var(--primary);
}
.categories .category-item:first-child {
  border-top: 1px solid var(--primary);
}

.categories > ul > li:hover {
  background-color: var(--secondary);
}
.social__link {
  padding-right: 0.5em;
  font-size: 1.2em;
}
.social__link .sup {
  font-size: 0.7em;
  margin-left: 3px;
}

img {
  max-width: 100%;
}

/* Shop Item */

.shop-item {
  text-align: center;
  width: 33%;
}

.shop-item .item-title {
  font-size: 1em;
  font-weight: normal;
  margin-bottom: 0.2em;
}

/* Single item page */
.single__main-image {
  width: 100%;
}
.single__item-image {
  width: 25%;
  cursor: pointer;
}
.item-info__title {
  font-weight: normal;
  font-size: 1.7em;
  margin-bottom: 0.3em;
}
.item-info__price {
  font-size: 1.1em;
  margin-bottom: 2.5em;
}
.item-info__options {
  margin-bottom: 1em;
}
.item-info__options select {
  font-size: 1.1em;
}

.single__item-info-part Button:last-of-type {
  margin-bottom: 3em;
}

/* you-may-like */
.you-may-like .shop-item img {
  height: 150px;
}

.you-may-like .title {
  font-size: 1.2em;
  font-weight: normal;
  margin-bottom: 1em;
}

/* Footer */

.copyright {
  text-align: center;
}
.footer__title {
  font-size: 1.2em;
  margin-bottom: 0.5em;
}
.footer__nav-link {
  line-height: 1.5;
}
.footer__input-group {
  display: flex;
  margin: 1em 0;
}
.footer__input-group input {
  flex-grow: 1;
}

/* Cart */
.cart-info {
  text-align: right;
}
.cart__title {
  margin-bottom: 0.6em;
}
.cart-info i {
  margin-bottom: 1.6em;
  display: inline-block;
}
.cart-info Button {
  margin-bottom: 0.5em;
}
.cart-columns h3:first-of-type {
  flex-grow: 1;
}
.cart-item div:first-of-type {
  flex-grow: 1;
}
.order-item-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.order-item-info h4 {
  font-size: 1.2em;
}
.cart-qty {
  width: 3em;
}
.cart-columns {
  margin-bottom: 1.5em;
}
.item-preview img {
  max-height: 125px;
}

/* cart table like columns */
.cart-col {
  width: 12%;
  font-weight: bold;
  text-align: right;
}
.cart-col.first {
  width: auto;
  text-align: left;
}

/* Responsive  */
@media screen and (max-width: 800px) {
  .d-upto-800 {
    display: block;
  }
  .cart-col {
    justify-content: space-around;
    width: 100%;
    display: flex;
  }
  .cart-columns {
    display: none;
  }
  .cart-item,
  .item-preview {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  .cart-item {
    border-bottom: 1px solid lightgray;
    padding: 1em 0 1.5em;
  }
}
